{% extends "base.html" %}
{% block meta %}
    <meta
      name="description"
      content="Setting the stage... why write a blog?"
    />
    <meta name="date" content="2023-09-12"/>
    <meta name="last_updated" content="2023-09-12">
{% endblock %}
{% block title %}First{% endblock %}
{% block content %}
<main>
  <article class="wrapper">
    <h2>First Post - Explaining the Why</h2>
    <p>Why start writing? Why share it publicly?
      I want to be a better writer.
      And taking the risk of looking foolish in public is a good incentive to improve.
    </p>
  </article> 
</main>
{% endblock %}
