{% extends "base.html" %}
{% block meta %}
<meta
  name="description"
  content="Learning from my value statement exercise. Can I choose my habits?"
/>
<meta name="date" content="2023-09-18"/>
<meta name="last_updated" content="2023-09-18"/>
{% endblock %}
{% block title %}Habits{% endblock %}
{% block content %}
<main>
  <article class="wrapper flow">
    <h2>Habits</h2>
    <p>While working through the <a href="/posts/value-statement.html">value statement</a> exercise
      I became aware of just how much I've taken my eye off the ball.
      My habits do not reinforce my values. They are not helping me work towards my vision.
      Now that I am aware of this clash, can I do anything about it?
    </p>
    <h3>Habits to Drop</h3>
    <ul>
      <li>Sleeping through alarms</li>
      <li>YouTube</li>
      <li>Being Messy</li>
        <p>This started when I moved in together with my now wife.</p>
    </ul>
    <h3>Habits to Pickup</h3>
    <ul>
      <li>Read more books</li>
        <p>I used to read a lot of books, but the last 5-6 years I've mostly just read blogs, hackernews, and programming related content.
          Basically a junk information diet (some blogs are great though).
        </p>
      <li>Exercise</li>
    </ul>
  </article>
</main>
{% endblock %}
