{% extends "base.html" %}
{% block meta %}
    <meta
      name="description"
      content="Figuring out my personal value statement"
    />
    <meta name="date" content="2023-09-14"/>
    <meta name="last_updated" content="2023-09-14">
{% endblock %}
{% block title %}Value Statement{% endblock %}
{% block style %}
<style type="text/css">
  table {
    width: 100%;
    table-layout: fixed;
  }
  tr td {
    font-weight: 150;
    text-align: left;
  }
  tr td:not(:first-of-type) {
    padding-left: 1rem;
  }
</style>
{% endblock %}
{% block content %}
<main>
  <article class="wrapper flow">
    <h2>Value Statement</h2>
    <p>I'm currently doing a leadership program at my Church and one of the
       exercises is to come up with a personal value statement.
       My value statement needs to define the core principles that guide and direct my life.
       I believe that changing my mindset and habits to line up with my values will lead to a more fulfilled life.
     </p>
    <h3>Brainstorming</h3>
    <p>Start with single words, build into sentence fragments, Assemble into complete thoughts</p>
    <h4>Words I Value</h4>
    <table class="words-table">
      <tbody>
        <tr>
          <td>Relationship</td>
          <td>Family</td>
          <td>Fun</td>
        </tr>
        <tr>
          <td>Humor</td>
          <td>Daring</td>
          <td>Swift</td>
        </tr>
        <tr>
          <td>Flow</td>
          <td>Purposeful</td>
          <td>Sidestep</td>
        </tr>
        <tr>
          <td>Cutting</td>
          <td>Piercing</td>
          <td>Sharp</td>
        </tr>
        <tr>
          <td>Outflank</td>
          <td>Insight</td>
          <td>Depth</td>
        </tr>
        <tr>
          <td>Challenge</td>
          <td>Knowledge</td>
          <td>Original</td>
        </tr>
        <tr>
          <td>Elegance</td>
          <td>Pragmatic</td>
          <td>Practical</td>
        </tr>
        <tr>
          <td>Correctness</td>
          <td>Thriving</td>
          <td>Fruitful</td>
        </tr>
        <tr>
          <td>Vibrant</td>
          <td>Expansive</td>
          <td>Capacity</td>
        </tr>
        <tr>
          <td>Innovative</td>
          <td>Tasteful</td>
          <td>Future</td>
        </tr>
        <tr>
          <td>Creative</td>
          <td>Adaptive</td>
          <td>Flexible</td>
        </tr>
        <tr>
          <td>Resilient</td>
          <td>Wisdom</td>
          <td>Capacity</td>
        </tr>
        <tr>
          <td>Correctness</td>
          <td>Functional</td>
          <td>Useful</td>
        </tr>
        <tr>
          <td>Reproducible</td>
          <td>Reliable</td>
          <td>Robust</td>
        </tr>
      </tbody>
    </table>
    <h4>Anti Values</h4>
    <ul>
      <li>Bureaucracy - process divorced from outcome</li>
      <li>Wastefulness</li>
      <li>Cheaply made things</li>
      <li>Modern Software - mostly bug-ridden spyware</li>
      <li>Style over substance</li>
      <li>TV - news, commercials, reality shows</li>
    </ul>
    <p>I keep wanting to define my values in terms of what I don't like.
      These are things that I feel are not just not valuable, but actually have a negative value.
      In reality it's not so black and white.
      Unnecessary complexity and style over substance can be crucial in creating great art for example.
      And it's not like change just for the sake of change is wise or desirable.
      In the current era (2023) however, I feel like these anti values are much more dominant than my values
      so I feel safe in criticizing them.
    </p>

    <h3>Vision</h3>
    <p>I want wisdom and I want to be able to share wisdom effectively.
      I want to shape the people and environment around me in a positive way.
      I want to be better and to help others realize that they can want to be better too.
      I want to leave the world a better place than I found it.
    </p>

    <h3>Wrapping Up</h3>
    <p>This turned out to be more difficult than I anticipated but I do feel I got a lot of <strong>value</strong> (lol) out of it.
      It's odd that I never took the time to actually think this through before.
      And now that I have, will it change anything? I hope so.
    </p>
  </article>
  <br/>
</main>
{% endblock %}
