{% extends "base.html" %}
{% block meta %}
<meta
  name="description"
  content="Holding place for anything I might want to use but have no other place for"
/>
<meta name="date" content="2023-09-18"/>
<meta name="last_updated" content="2023-09-18"/>
{% endblock %}
{% block title %}Scratchpad{% endblock %}
{% block content %}
<main>
  <article class="wrapper flow">
    <h2>Scratchpad</h2>
    <p>A holding buffer for notes and ideas</p>

    <h3>7 Days of Creation Company Names</h3>
    <ul>
      <li>Illumination Incorporated</li>
      <li>Blue Sky Unlimited</li>
      <li>Bedrock International</li>
      <li>Soluna Partners - A division of Creation</li>
      <li>Wings and Fins LLC</li>
      <p>The sea and sky are somehow more related to each other than to the land?</p>
      <li><em>Move</em></li>
      <li>R&R Sabbaticals</li>
    </ul>

    <h3>Bible Verses</h3>
    <blockquote>
      <p>...Don’t be afraid, Daniel, for from the very first day you applied your mind to understand
      and to humble yourself before your God, your words were heard...
      </p>
      <footer><strong>Daniel 10:12</strong></footer>
    </blockquote>

    <h3>Misc</h3>
    <blockquote>
      <p>I feel like we lose things so quickly these days</p>
      <footer><strong>My wife Em</strong></footer>
    </blockquote>

    <h3>Programming</h3>
    <p>I've actually been getting into CSS and design. I really like the concept of semantic HTML too.</p>
  </article>
</main>
{% endblock %}
